{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block heading_inner %}{{heading}}
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'badges:badge_create' %}" role="button"><i class="fa fa-plus-circle"></i> Create {{ config.custom_name_for_badge }}</a>
  <a class="btn btn-primary" href="{% url 'badges:badge_type_create' %}" role="button"><i class="fa fa-plus-circle"></i> Create {{ config.custom_name_for_badge }} Type</a>
{% endif %}
{% endblock %}

{% block content %}

{% comment %} Will only show up if triggered by JS {% endcomment %}
<div class="modal fade" id="newBadgeModal" tabindex="-1" role="dialog" aria-labelledby="newBadgeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBadgeLabel">
          {% if ranks_achieved.count == 1 %}
          Congratulations! You've gained a badge!
          {% else %}
          Congratulations! You have earned {{ new_badges.count }} new {{ heading }}!
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">

        {% for badge in new_badges %}
          <div class="col-xs-4 col-badge">
            <a href="{{badge.get_absolute_url}}">
              {% include 'badges/snippets/badge_icon.html' %}
            </a>
          </div>
        {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% for badge_type in badge_types %}
<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="pull-right fa {{badge_type.fa_icon}}"></i>
      {{badge_type.name}}s
      {% if request.user.is_staff %}
        &nbsp;&nbsp;<a class="btn btn-xs btn-warning"
        href="{% url 'badges:badge_type_update' badge_type.id %}" role="button"><i class="fa fa-edit"></i></a>
      {% endif %}
    </h3>
  </div>
  <div class="panel-body panel-body-badge">
    <div class="row">
      {% for badge in badge_type.badge_set.all %}
          {% if request.user.is_staff or badge.active %}
          <div class="col-sm-3 col-md-2 col-badge hidden-xs"> {# only use popover on wider screens #}
            <a {% include 'badges/snippets/badge_popover.html' %} href="{{badge.get_absolute_url}}">
              {% include 'badges/snippets/badge_icon.html' %}
            </a>
          </div>
          <div class="col-xs-4 col-badge visible-xs-inline-block"> {# direct link on mobile #}
            <a href="{{badge.get_absolute_url}}">
              {% include 'badges/snippets/badge_icon.html' %}
            </a>
          </div>
          {% endif %}
      {% empty %}
      <div class='col-sm-12'>None.</div>
      {% endfor %}

    </div> {# row #}

  </div> {# panel body #}

</div> <!--panel -->
{% endfor %}

{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();

  {% if not request.user.is_staff and show_new_badges %}
  $('#newBadgeModal').modal('show');
  {% endif %}
});
</script>
{% endblock %}
