{% extends "base_sidebar.html" %}

{% block head_title %}Ranks | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-star pull-right"></i>Ranks
  {% if request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'courses:rank_create' %}" role="button">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% comment %} Will only show up if triggered by JS {% endcomment %}
    <div class="modal fade" id="newRankModal" tabindex="-1" role="dialog" aria-labelledby="newRankLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newRankLabel">
              {% if ranks_achieved.count == 1 %}
              Congratulations! You've gained a rank!
              {% else %}
              Congratulations! You've gained {{ ranks_achieved.count }} new ranks!
              {% endif %}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body container">

            {% for rank in ranks_achieved %}
            <div class="row">
              <i class="{{rank.fa_icon}} fa-lg fa-fw text-warning"></i>
              {{rank.name}}
            </div>
            {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Rank</th>
          <th>XP</th>
          <th>Quest Map</th>
          {% if request.user.is_staff %}
          <th>Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td class="text-center"><i class="{{object.fa_icon}} fa-lg fa-fw text-warning"></i></td>
            <td>{{object.name}}</td>
            <td>{{object.xp}} XP</td>
            <td>
              {% if object.get_map.get_absolute_url %}
              <a href="{{object.get_map.get_absolute_url}}"><i class="fa fa-map-signs"></i> </a>
              {% endif %}
            </td>
            {% if request.user.is_staff %}

              <td>
              <a class="btn btn-warning" href="{% url 'courses:rank_update' object.id %}" role="button" title="Edit this rank">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="{% url 'courses:rank_delete' object.id %}" role="button" title="Delete this rank" style="margin-left: 3px">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    {% if not request.user.is_staff and show_new_ranks_achieved %}
    $('#newRankModal').modal('show');
    {% endif %}
  });
</script>
{% endblock %}
